mat-card {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;

  .chart-title {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  .settings-title {
    margin-bottom: 20px;
    font-size: 0.8rem;
    color: var(--settings-color);
  }

  .form-settings {
    display: flex;
    flex-direction: column;

    .row {
      display: flex;
      justify-content: left;
      gap: 20px;

      .form-field {
        mat-form-field {
          width: 100%;
        }
      }
    }
  }
}
